.movie {
  width: 22%;
  transition: transform 0.1s ease-in-out;
  position: relative;
}

.movie:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.poster {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}

.info {
  margin-top: -5px;
  color: #fafafa;
  padding: 12px;
  background-color: #212121;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  margin-top: 0;
  margin-bottom: 5px;
}

.year {
  opacity: 0.8;
}

.rating {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  background-color: #212121;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: bold;
}

.rating.green {
  color: lightgreen;
}

.rating.orange {
  color: orange;
}

.rating.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #212121;
  color: #fff;
  max-height: 100%;
  display: none;
  transform: translateY(100%);
  transition: 0.3s ease-in;
  overflow-y: auto;
}

.movie:hover .overview {
  display: block;
  transform: translateY(0);
}
